extends includes/layout/layout.pug
block pages
  include includes/pages/section-home-banner.pug
  include includes/pages/section-about.pug
  include includes/pages/section-trophies.pug
  include includes/pages/section-partner.pug
  include includes/pages/section-career.pug
  include includes/pages/section-project.pug
  include includes/pages/section-clients.pug
  include includes/pages/section-contact.pug