section.section.section-career#vision
  include ../components/button.pug
  .section-wrapper.d-flex.flex-wrap 
    .career-item
      .row 
        .col-lg-6.career-col
          .career-image 
            img(src="./assets/images/image-career-1.png", alt="")
        .col-lg-6.career-col
          .career-content 
            h3.section-des My Vison
            h1.section-title #[span TRỞ THÀNH] NHÀ MARKETING & TRUYỀN THÔNG SỐ 1 VIỆT NAM & ĐÔNG NAM Á
            p Beautiful portfolio websites for creatives, powered by clever technology and you. Working with Baikal is a pleasure. From now on updating your site is something you’ll want to do.  Just started using awesome Baikal UI Kit. Great way to boost the designing or prototyping processê
            .button-groups.d-flex
              +Button({ link: 'mailto: linhneo@gmail.com', title: 'BẮT ĐẦU CÙNG TÔI', className: 'blue' })

    .career-item
      .row
        .col-lg-6.career-col
          .career-image 
            img(src="./assets/images/image-career-2.png", alt="")
        .col-lg-6.career-col
          .career-content 
            h3.section-des My Vison
            h1.section-title #[span TRỞ THÀNH] NHÀ SẢN XUẤT PHIM SỐ 1 VIỆT NAM & ĐÔNG NAM Á
            p Beautiful portfolio websites for creatives, powered by clever technology and you. Working with Baikal is a pleasure. From now on updating your site is something you’ll want to do.  Just started using awesome Baikal UI Kit. Great way to boost the designing or prototyping processê
            .button-groups.d-flex
              +Button({ link: 'mailto: linhneo@gmail.com', title: 'BẮT ĐẦU CÙNG TÔI', className: 'blue' })

    .career-item
      .row 
        .col-lg-6.career-col
          .career-image 
            img(src="./assets/images/image-career-3.png", alt="")
        .col-lg-6.career-col
          .career-content 
            h3.section-des My Vison
            h1.section-title #[span THÚC ĐẨY] NỀN ĐIỆN ẢNH VIỆT NAM PHÁT TRIỂN RỘNG RÃI TRÊN TOÀN CẦU
            p Beautiful portfolio websites for creatives, powered by clever technology and you. Working with Baikal is a pleasure. From now on updating your site is something you’ll want to do.  Just started using awesome Baikal UI Kit. Great way to boost the designing or prototyping processê
            .button-groups.d-flex
              +Button({ link: 'mailto: linhneo@gmail.com', title: 'BẮT ĐẦU CÙNG TÔI', className: 'blue' })
