section.section.section-clients 
  img(src="./assets/images/image-banner-what-client-thinking.png", alt="").section-bg
  .container 
    .section-wrapper
      h3.section-des.color-white.text-center KHÁCH HÀNG NGHĨ GÌ?
      .clients-wrapper 
        .owl-carousel#carousel-clients 
          each item in [1,2,3,4]
            .item 
              .client-item 
                p.client-caption Born and raised in London, Nolan developed an interest in filmmaking from a young age. #[strong track of feedback] everyone. 
                .line 
                h6.client-name MIIKE KNAPFÖGEL
                p.client-des Vice President Information Technology, Bjorn & Bjork