section.section.section-home-banner#welcome
  //- img(src="./assets/images/image-banner.png", alt="").section-bg
  .section-video-bg
    video(src="./assets/videos/video-banner.mp4" autoplay muted loop)
    .section-overlay
  .container
    .section-wrapper.d-flex.align-items-center.justify-content-center
      .section-content
        h1.banner-intro HI! I'M #[u LINH NEO]
        h1.banner-title FILM PRODUCER
        p.banner-des Nhà làm phim mang đến những câu chuyện hấp dẫn và mang đến những trải nghiệm hình ảnh đáng nhớ!
        .button-groups.d-flex
          +Button({ link: 'https://www.youtube.com/watch?v=ydKfZ84pgoI', isNewTab: true, icon: './assets/icons/icon-play-white.svg', title: 'My Story', className: 'white-transparent radius' })
