section.section.section-about#aboutme 
  .section-text.text-1 Linh
  .section-text.text-2 Neo
  .container 
    .section-wrapper  
      .row 
        .col-lg-5
          .about-image 
            img(src="./assets/images/image-linhneo.png", alt="")
        .col-lg-7
          .about-content 
            h3.section-des GIỚI THIỆU
            h1.section-title #[span LINH NEO] - NGUYỄN NGỌC LINH
            p Born and raised in London, Nolan developed an interest in filmmaking from a young age. After studying English literature at University College London, he made his feature debut with Following (1998). Nolan gained international recognition with his second film, Memento (2000), for which he was nominated for the Academy Award for Best Original Screenplay. Nolan's films are typically rooted in epistemological and metaphysical themes, exploring human morality, the construction of time, and the malleable nature of memory and personal identity. 

            .about-social.d-flex.flex-wrap 
              a(href="#").social-link.d-flex.facebook
                img(src="./assets/icons/icon-facebook-white.svg", alt="")
              a(href="#").social-link.d-flex.dribble
                img(src="./assets/icons/icon-dribble-white.svg", alt="")
              a(href="#").social-link.d-flex.behance
                img(src="./assets/icons/icon-behance-white.svg", alt="")